{% load static commontags %}
<!doctype html>
<html lang="en" ng-app="ConsoleApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PeoplePortal - Console</title>

    <!-- Bootstrap core CSS -->
    <link href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link href="{% get_static_prefix %}libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" >

    <link href="{% get_static_prefix %}css/styles.css" rel="stylesheet" >

    <style>
        .btn_tab{
            font-size: 1.5rem;
            padding: 5px 0px;
            border: none;
            background-color: unset;
            margin-right: 15px;
            cursor: pointer;
        }
        .btn_tab:hover{
            font-weight: 600;
            color: #007bff;
        }
        .btn_tab.active{
            font-weight: 600;
        }

        .btn_action{
            margin-right: 10px;
            cursor: pointer;
        }

    </style>
</head>
<body ng-cloak ng-controller="MainCtrl">

    <!-- ========== Templates ========== -->
    <script type="text/ng-template" id="tmpl_employees">
        <div>

            <div class="row">
                <div class="col-3 offset-6" align="right">
                    {% if 'employee_create' in request.emp_permissions.codes %}
                        <button class="btn btn-light" ng-click="addEmployee()">
                            <i class="fa fa-plus"></i> New Employee
                        </button>
                    {% endif %}
                </div>
                <div ng-show="data_employees.length" class="col-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-search-emp">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <input type="text" ng-model="search_text" class="form-control" placeholder="Search by name, role or team" aria-describedby="inputGroup-search-emp">
                    </div>
                </div>
            </div>

            <div ng-if="ui_flags.data==ST_AJAX.LOADING" class="loading" align="center">
                <img src="{% get_static_prefix %}images/loading_spinner.gif" >
                <div class="title">Loading...</div>
            </div>

            <div ng-if="ui_flags.data==ST_AJAX.ERROR" class="api_error" align="center">
                <i class="fa fa-exclamation-triangle text-danger"></i>
                <div class="title">{$ ui_flags.data_error $}</div>
                <button class="btn btn-outline-danger" ng-click="getEmployees()">Try Again</button>
            </div>

            <div ng-if="ui_flags.data==ST_AJAX.COMPLETED">

                <div ng-if="data_employees.length==0" align="center" style="border: dashed 1px black; padding: 30px;">
                    <img src="{% get_static_prefix %}images/people.png" style="width: 400px;margin: 20px 0px 20px 0px;">
                    <h4 class="text-primary">No Employees found!</h4>
                </div>
                <div ng-if="data_employees.length">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>EMP ID</th>
                                <th>NAME</th>
                                <th>EMAIL</th>
                                <th>POSITION</th>
                                <th>TEAM</th>
                                <th>PHONE</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="employee in data_employees|filter:search_text">
                                <td>{$ ::employee.employee_id $}</td>
                                <td>{$ ::employee.first_name $} {$ ::employee.last_name $}</td>
                                <td>{$ ::employee.email $}</td>
                                <td>{$ ::employee.position $}</td>
                                <td>{$ ::employee.team.name $}</td>
                                <td>{$ ::employee.phone_no $}</td>
                                <td>
                                    {% if 'employee_edit' in request.emp_permissions.codes %}
                                        <span class="fa fa-pencil btn_action" ng-click="editEmployee(employee)"></span>
                                    {% endif %}

                                    {% if 'employee_delete' in request.emp_permissions.codes %}
                                        <span class="fa fa-trash btn_action" ng-click="deleteEmployee(employee)" ng-if="::employee.id!={{ request.employee.id }}"></span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </script>

    <script type="text/ng-template" id="tmpl_form_employee">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="fld_name">Name</label>
                    <input type="text" ng-model="data.first_name" name="first_name" class="form-control" id="fld_name" required>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fld_empid">EMP ID <small class="text-muted">(Unique)</small></label>
                    <input type="text" ng-model="data.employee_id" name="employee_id" class="form-control" id="fld_empid" required ng-disabled="is_edit_mode">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="fld_email">Email</label>
                    <input type="email" ng-model="data.email" name="email" class="form-control" id="fld_email" required>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fld_empid">Phone No</label>
                    <input type="text" ng-model="data.phone_no" name="phone_no" class="form-control" id="fld_empid" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="fld_team">Team</label>
                    <select ng-model="data.team" name="team" class="form-control" id="fld_team" required>
                        <option value="">-- Please Select --</option>
                        <option value="{$ team.id $}" ng-repeat="team in LIST_TEAMS">{$ team.name $}</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="fld_position">Position</label>
                    <input type="text" ng-model="data.position" name="position" class="form-control" id="fld_position" required>
                </div>
            </div>
        </div>

        <div style="margin-top: 20px;">
            <div style="font-size: 16px; font-weight: 600;">Roles & Permissions</div>
            <hr style="margin: 5px 0px 10px 0px"/>
            <div class="form-group">
                <label for="fld_role">Role</label>
                <select ng-model="data.role" name="role" class="form-control" id="fld_role" required>
                    <option value="">-- Please Select --</option>
                    <option value="{$ role.id $}" ng-repeat="role in LIST_ROLES">{$ role.name $}</option>
                </select>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="tmpl_modal_add_employee">
        <form name="form_addEmployee" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-plus"></i> Add New Employee
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="onclick_close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div ng-include="'tmpl_form_employee'"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="onclick_close()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="onsubmit_form(form_addEmployee)" ng-disabled="form_addEmployee.$invalid">Create</button>
                </div>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="tmpl_modal_edit_employee">
        <form name="form_editEmployee" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa fa-pencil"></i> Edit Employee
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="onclick_close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div ng-include="'tmpl_form_employee'" ng-init="is_edit_mode=true"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="onclick_close()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="onsubmit_form(form_editEmployee)" ng-disabled="form_editEmployee.$invalid">Save Changes</button>
                </div>
            </div>
        </form>
    </script>



    <script type="text/ng-template" id="tmpl_rooms">
        <div>

            <div ng-if="ui_flags.data==ST_AJAX.LOADING" class="loading" align="center">
                <img src="{% get_static_prefix %}images/loading_spinner.gif" >
                <div class="title">Loading...</div>
            </div>

            <div ng-if="ui_flags.data==ST_AJAX.ERROR" class="api_error" align="center">
                <i class="fa fa-exclamation-triangle text-danger"></i>
                <div class="title">{$ ui_flags.data_error $}</div>
                <button class="btn btn-outline-danger" ng-click="getRooms()">Try Again</button>
            </div>

            <div ng-if="ui_flags.data==ST_AJAX.COMPLETED">

                <div ng-if="data_rooms.length==0" align="center" style="border: dashed 1px black; padding: 30px;">
                    <img src="{% get_static_prefix %}images/conference_room.png" style="width: 400px;margin: 20px 0px 20px 0px;">
                    <h4 class="text-primary">No rooms found!</h4>
                </div>
                <div ng-if="data_rooms.length">
                    <div class="row">
                        <div class="col-3 offset-9">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-search-emp">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                                <input type="text" ng-model="search_text" class="form-control" placeholder="Search by name, capacity" aria-describedby="inputGroup-search-emp">
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ROOM ID</th>
                                <th>NAME</th>
                                <th>BOOKING EMAIL</th>
                                <th>SITTING</th>
                                <th>CURRENT STATUS</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="room in data_rooms|filter:search_text">
                                <td>{$ room.room_id $}</td>
                                <td>{$ room.name $}</td>
                                <td>{$ room.booking_email $}</td>
                                <td>{$ room.sitting_capacity $}</td>
                                <td>{$ room.status $}</td>
                                <td>
                                    {% if 'conf_room_edit' in request.emp_permissions.codes %}
                                        <span class="fa fa-pencil btn_action" ng-click="editRoom(room)"></span>
                                    {% endif %}

                                    {% if 'conf_room_delete' in request.emp_permissions.codes %}
                                        <span class="fa fa-trash btn_action" ng-click="deleteRoom(room)"></span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </script>
    <!-- ========== /Templates ========== -->

    <!-- ---------- Header ---------- -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
{#        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>#}
        <div class="my-0 mr-md-auto font-weight-normal">
            <img src="{% get_static_prefix %}images/peopleportal_logo.png" style="height: 37px;">
        </div>

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">
                <i class="fa fa-cog"></i>&nbsp;&nbsp;Roles
            </a>
{#            <a class="p-2 text-dark" href="#">Enterprise</a>#}
{#            <a class="p-2 text-dark" href="#">Support</a>#}
{#            <a class="p-2 text-dark" href="#">Pricing</a>#}
        </nav>

        <span class="my-2 my-md-0 mr-md-3" style="font-size: 13px;">
            <table>
                <tbody>
                    <tr>
                        <td style="padding-right: 10px;">
                             <img src="{% get_static_prefix %}images/default_avatar.png" style="height: 37px;">
                        </td>
                        <td>
                            {{ request.employee.first_name }} {{ request.employee.last_name }}
                            <br><span class="text-muted">{{ request.employee.role.name }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </span>

        <a class="btn btn-outline-primary" href="{% url 'accounts__logout' %}">Log Out</a>
    </div>
    <!-- ---------- Header ---------- -->

    <!-- ----- Container ----- -->
    <div class="container" style="width: 90%; max-width: unset; padding: 10px 20px;" >

        <div style="margin-bottom: 20px;">
            {% if 'employee' in request.emp_permissions.resources %}
                <span ui-sref="employees" class="btn_tab" ng-class="{'active': $state.current.name=='employees'}">
                    Employee
                </span>
            {% endif %}

            {% if 'room' in request.emp_permissions.resources %}
                <span ui-sref="rooms" class="btn_tab" ng-class="{'active': $state.current.name=='rooms'}">
                    Room
                </span>
            {% endif %}
        </div>

        <div ui-view></div>

    </div>
    <!-- ----- /Container ----- -->


    <!-- ----- Scripts ----- -->
    <script src="{% get_static_prefix %}libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="{% get_static_prefix %}bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="{% get_static_prefix %}libs/angualrjs/1.6.1/angular.min.js"></script>
    <script src="{% get_static_prefix %}libs/angualrjs/1.6.1/angular-cookies.js"></script>
    <script src="{% get_static_prefix %}libs/angualrjs/angular-ui/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script src="{% get_static_prefix %}libs/angualrjs/angular-ui-router.js"></script>


    <script src="{% get_static_prefix %}js/common.js"></script>

    <script>
        var APP = angular.module('ConsoleApp', [
            'ngCookies',
            'ui.router',
            'ui.bootstrap',
        ])
        .config(function($interpolateProvider, $httpProvider, $stateProvider, $urlRouterProvider){
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');

            $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';

            $stateProvider
                .state('employees', {
                    url: "/employees",
                    templateUrl: "tmpl_employees",
                    controller: 'EmployeeCtrl',
                })
                .state('rooms', {
                    url: "/rooms",
                    templateUrl: "tmpl_rooms",
                    controller: 'RoomCtrl',
                });
            $urlRouterProvider.otherwise("/{{ request.emp_permissions.resources.0 }}s");

        })
        .run(function($rootScope, $http, $cookies, $state) {
            $http.defaults.headers.post['X-CSRFToken'] = $cookies.csrftoken;

            $http.defaults.xsrfCookieName = 'csrftoken';
            $http.defaults.xsrfHeaderName = 'X-CSRFToken';

            $rootScope.LIST_ROLES = {{ list_roles|jsonify:False|safe }};
            $rootScope.LIST_TEAMS = {{ list_teams|jsonify:False|safe }};

            $rootScope.$state = $state;
            $rootScope.ST_AJAX = ST_AJAX;
        });


        APP.controller('MainCtrl', function ($scope) {
        });

        APP.controller('EmployeeCtrl', function($scope, $http, $uibModal){
            $scope.ui_flags = {
                data: ST_AJAX.LOADING
            };
            $scope.data_employees = [];


            $scope.getEmployees = function () {
                $scope.ui_flags.data = ST_AJAX.LOADING;

                $http.get('/accounts/api/employees/?format=json', {
                    params: {}
                }).then(
                    function (response) {
                        $scope.data_employees = response.data.objects;
                        $scope.ui_flags.data = ST_AJAX.COMPLETED;
                    },
                    function (responseError){
                        $scope.ui_flags.data = ST_AJAX.ERROR;

                        var error_msg = "Error! Something went wrong.";
                        if (responseError.status >= 400 && responseError.status <= 499){
                            error_msg = "Unauthorized Access!";
                        }
                        $scope.ui_flags.data_error = error_msg;
                    }
                );
            };

            $scope.deleteEmployee = function(employee){
                if(confirm("Are you sure you want to delete this employee?")){
                    var fd = new FormData();
                    fd.append('employee_id', employee["id"]);

                    $http.post(
                        "/accounts/employee/delete/",
                        fd,
                        {
                            transformRequest: angular.identity,
                            headers: {'Content-Type': undefined}
                        }
                    ).then(
                        function (response) {
                            if(response.data.status=='success'){
                                $scope.getEmployees();
                            }else{
                                alert("Denied! Unable to delete employee.");
                            }

                        },
                        function (responseError) {
                            alert("Error! Unable to delete employee.");
                        }
                    );
                }
            };

            $scope.addEmployee = function(){
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'tmpl_modal_add_employee',
                    size: 'lg',
                    backdrop: 'static',
                    controller: function($scope, $uibModalInstance){
                        $scope.data = {};

                        $scope.onsubmit_form = function(form_obj){

                            if(form_obj.$invalid){
                                return;
                            }

                            var fd = new FormData();
                            for(var k in $scope.data){
                                fd.append(k, $scope.data[k]);
                            }

                            $http.post(
                                "/accounts/employee/create/",
                                fd,
                                {
                                    transformRequest: angular.identity,
                                    headers: {'Content-Type': undefined}
                                }
                            ).then(
                                function (response) {
                                    if(response.data.status=='success'){
                                        $uibModalInstance.close(response.data);
                                    }else{
                                        alert("Error: "+angular.toJson(response.data));
                                    }

                                },
                                function (responseError) {
                                    alert("Error! Unable to create employee.");
                                }
                            );


                        };

                        $scope.onclick_close = function(){
                            $uibModalInstance.dismiss('cancel');
                        }
                    },
                });

                modalInstance.result.then(function (result) {
                    // Success
                    $scope.getEmployees();
                }, function () {
                    // Modal Closed
                });

            };

            $scope.editEmployee = function(employee){

                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'tmpl_modal_edit_employee',
                    size: 'lg',
                    backdrop: 'static',
                    resolve: {
                        employee: function() {
                            var FIELDS = ['id','first_name', 'employee_id', 'email', 'phone_no', 'team', 'position', 'role'];
                            var data = {};

                            for(var i=0;i<FIELDS.length;i++){
                                var fld = FIELDS[i];
                                var val = null;
                                if(["team", "role"].indexOf(fld)!==-1){
                                    val = employee[fld]["id"]+"";
                                }else{
                                    val = employee[fld];
                                }
                                data[fld] = val;
                            }

                            return angular.copy(data);
                        }
                    },
                    controller: function($scope, $uibModalInstance, employee){
                        $scope.data = angular.copy(employee);

                        $scope.onsubmit_form = function(form_obj){

                            if(form_obj.$invalid){
                                return;
                            }

                            var fd = new FormData();
                            for(var k in $scope.data){
                                fd.append(k, $scope.data[k]);
                            }

                            $http.post(
                                "/accounts/employee/edit/",
                                fd,
                                {
                                    transformRequest: angular.identity,
                                    headers: {'Content-Type': undefined}
                                }
                            ).then(
                                function (response) {
                                    if(response.data.status=='success'){
                                        $uibModalInstance.close(response.data);
                                    }else{
                                        alert("Error: "+angular.toJson(response.data));
                                    }

                                },
                                function (responseError) {
                                    alert("Error! Unable to save changes.");
                                }
                            );


                        };

                        $scope.onclick_close = function(){
                            $uibModalInstance.dismiss('cancel');
                        }
                    },
                });

                modalInstance.result.then(function (result) {
                    // Success
                    $scope.getEmployees();
                }, function () {
                    // Modal Closed
                });

            };

            function __init__() {
                $scope.getEmployees();
            }
            __init__();
        });


        APP.controller('RoomCtrl', function($scope, $http){
            $scope.ui_flags = {
                data: ST_AJAX.LOADING
            };
            $scope.data_rooms = [];


            $scope.getRooms = function () {
                $scope.ui_flags.data = ST_AJAX.LOADING;

                $http.get('/conference/api/rooms/?format=json', {
                    params: {}
                }).then(
                    function (response) {
                        $scope.data_rooms = response.data.objects;
                        $scope.ui_flags.data = ST_AJAX.COMPLETED;
                    },
                    function (responseError){
                        $scope.ui_flags.data = ST_AJAX.ERROR;

                        var error_msg = "Error! Something went wrong.";
                        if (responseError.status >= 400 && responseError.status <= 499){
                            error_msg = "Unauthorized Access!";
                        }
                        $scope.ui_flags.data_error = error_msg;
                    }
                );
            };

            $scope.deleteRoom = function(room){
                if(confirm("Are you sure you want to delete this room?")){
                    var fd = new FormData();
                    fd.append('room_id', room["id"]);

                    $http.post(
                        "/conference/room/delete/",
                        fd,
                        {
                            transformRequest: angular.identity,
                            headers: {'Content-Type': undefined}
                        }
                    ).then(
                        function (response) {
                            if(response.data.status=='success'){
                                $scope.getRooms();
                            }else{
                                alert("Denied! Unable to delete room.");
                            }

                        },
                        function (responseError) {
                            alert("Error! Unable to delete room.");
                        }
                    );
                }
            };

            function __init__() {
                $scope.getRooms();
            }
            __init__();
        });


    </script>
    <!-- ----- /Scripts ----- -->

</body>
</html>