{% load static %}
<!doctype html>
<html lang="en" ng-app="ConsoleApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PeoplePortal - Console</title>

    <!-- Bootstrap core CSS -->
    <link href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link href="{% get_static_prefix %}libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" >

    <link href="{% get_static_prefix %}css/styles.css" rel="stylesheet" >

    <style>
        .btn_tab{
            font-size: 1.5rem;
            padding: 5px 0px;
            border: none;
            background-color: unset;
            margin-right: 15px;
            cursor: pointer;
        }
        .btn_tab:hover{
            font-weight: 600;
            color: #007bff;
        }
        .btn_tab.active{
            font-weight: 600;
        }

    </style>
</head>
<body ng-cloak ng-controller="MainCtrl">

    <!-- ========== Templates ========== -->
    <script type="text/ng-template" id="tmpl_employees">
        Employees Partial
    </script>

    <script type="text/ng-template" id="tmpl_rooms">
        Rooms Partial
    </script>
    <!-- ========== /Templates ========== -->

    <!-- ---------- Header ---------- -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
{#        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>#}
        <div class="my-0 mr-md-auto font-weight-normal">
            <img src="{% get_static_prefix %}images/peopleportal_logo.png" style="height: 37px;">
        </div>

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">
                <i class="fa fa-cog"></i>&nbsp;&nbsp;Roles
            </a>
{#            <a class="p-2 text-dark" href="#">Enterprise</a>#}
{#            <a class="p-2 text-dark" href="#">Support</a>#}
{#            <a class="p-2 text-dark" href="#">Pricing</a>#}
        </nav>

        <span class="my-2 my-md-0 mr-md-3" style="font-size: 13px;">
            <table>
                <tbody>
                    <tr>
                        <td style="padding-right: 10px;">
                             <img src="{% get_static_prefix %}images/default_avatar.png" style="height: 37px;">
                        </td>
                        <td>
                            {{ request.employee.first_name }} {{ request.employee.last_name }}
                            <br><span class="text-muted">{{ request.employee.role.name }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </span>

        <a class="btn btn-outline-primary" href="{% url 'accounts__logout' %}">Log Out</a>
    </div>
    <!-- ---------- Header ---------- -->

    <!-- ----- Container ----- -->
    <div class="container" style="width: 90%; max-width: unset; padding: 10px 20px;" >

        <div style="margin-bottom: 20px;">
            <span ui-sref="employees" class="btn_tab" ng-class="{'active': $state.current.name=='employees'}">
                Employee
            </span>
            <span ui-sref="rooms" class="btn_tab" ng-class="{'active': $state.current.name=='rooms'}">
                Room
            </span>
        </div>

        <div ui-view></div>

    </div>
    <!-- ----- /Container ----- -->


    <!-- ----- Scripts ----- -->
    <script src="{% get_static_prefix %}libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="{% get_static_prefix %}bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="{% get_static_prefix %}libs/angualrjs/1.6.1/angular.min.js"></script>
    <script src="{% get_static_prefix %}libs/angualrjs/1.6.1/angular-cookies.js"></script>
    <script src="{% get_static_prefix %}libs/angualrjs/angular-ui/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script src="{% get_static_prefix %}libs/angualrjs/angular-ui-router.js"></script>

    <script>
        var APP = angular.module('ConsoleApp', [
            'ngCookies',
            'ui.router',
        ])
        .config(function($interpolateProvider, $httpProvider, $stateProvider, $urlRouterProvider){
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');

            $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';

            $stateProvider
                .state('employees', {
                    url: "/employees",
                    templateUrl: "tmpl_employees",
                    {#controller: CustomizeTypeCtrl,#}
                })
                .state('rooms', {
                    url: "/rooms",
                    templateUrl: "tmpl_rooms",
                });
            $urlRouterProvider.otherwise("/employees");

        })
        .run(function($rootScope, $http, $cookies, $state) {
            $http.defaults.headers.post['X-CSRFToken'] = $cookies.csrftoken;

            $http.defaults.xsrfCookieName = 'csrftoken';
            $http.defaults.xsrfHeaderName = 'X-CSRFToken';

            $rootScope.$state = $state;
        });


        APP.controller('MainCtrl', function ($scope) {
        });


    </script>
    <!-- ----- /Scripts ----- -->

</body>
</html>